footer{
    position:relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background: #000;
     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer-note {
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    margin: 20px;
}
.footerpages{
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    margin: 10px;
}
.footerpages a{
    width: 150px;
    text-decoration: none;
    color: aliceblue;
    height: 30px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    box-shadow: 2px 3px 4px rgba(0, 0, o, white);
    align-items: center;
    border-radius: 10px;
    margin: 10px;
}
.footerpages a:hover{
    background-color: #888;
    box-shadow: 0 4px 20px rgb(255, 255, 255);
}
.toollinks{
    margin: 10px;
}
.toollinks p{
    color: white;
    margin: 10px;
}
.toollinks a {
    margin: 10px;
    color: white;
    /* border: 1px solid grey; */
    padding: 2px 10px;
    border-radius: 10px;
    letter-spacing: 2px;

}
.toollinks a:hover{
    background-color: #888;
    box-shadow: 0 4px 20px rgb(255, 255, 255);
}
footer p {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}
@media (max-width:500px){
    footer{
        height: auto;
    }
    .footerpages{
        flex-direction: column;
        margin: 0;
    }
     .footerpages a {
        margin: 2px;
     }
     .footer-note{
        margin: 0px 10px;
     }
     .toollinks a{
        display:block;
        margin: 2px;
        padding: 2px 2px;
        text-align: center;
     }
}