.lodingicon {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999999;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.loadspinner {
  width: 55px;
  height: 55px;
  border: 6px solid #ffffff;
  border-top: 6px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
.lodingicon p{
  color:white;
  margin: 20px;
  font-size: 30px;
}

/* Spinner Animation */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
