.process-section{
    width:100%;
    padding:90px 20px;
    background:#ffffff;
}

.process-heading{
    max-width:700px;
    margin:auto;
    text-align:center;
    margin-bottom:60px;
}

.process-heading h2{
    font-size:40px;
    font-weight:600;
    color:rgb(57, 125, 221);
}

.process-heading p{
    margin-top:18px;
    color:#6b7280;
    font-size:17px;
    line-height:1.8;
}

.process-grid{
    max-width:1200px;
    margin:auto;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:30px;
}

.process-card{
    background:#fff;
    border:1px solid #e5e7eb;
    border-radius:18px;
    padding:40px 30px;
    text-align:center;
    transition:.3s;
    position:relative;
}

.process-card:hover{
    transform:translateY(-8px);
    box-shadow:0 20px 45px rgba(0,0,0,.08);
}

.process-icon{
    width:75px;
    height:75px;
    margin:auto;
    border-radius:50%;
    background:#f3f7ff;
    color:#2563eb;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:34px;
}

.step-number{
    display:inline-block;
    margin-top:22px;
    color:#2563eb;
    font-weight:700;
    letter-spacing:2px;
}

.process-card h3{
    margin-top:14px;
    font-size:24px;
    color:#111827;
}

.process-card p{
    margin-top:15px;
    color:#6b7280;
    line-height:1.8;
    font-size:16px;
}

@media(max-width:768px){

.process-section{
    padding:70px 20px;
}

.process-heading h2{
    font-size:30px;
}

}


/* choose section css */
.choose-section{
    width:100%;
    padding:90px 20px;
    background:#f8fafc;
}

.choose-heading{
    max-width:720px;
    margin:auto;
    text-align:center;
    margin-bottom:60px;
}

.choose-heading h2{
    font-size:40px;
    color:rgb(57, 125, 221);;
    font-weight:600;
}

.choose-heading p{
    margin-top:18px;
    color:#6b7280;
    line-height:1.8;
    font-size:17px;
}

.choose-grid{
    max-width:1100px;
    margin:auto;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:30px;
}

.choose-card{
    background:#fff;
    border-radius:18px;
    padding:40px 30px;
    text-align:center;
    border:1px solid #e5e7eb;
    transition:.3s;
}

.choose-card:hover{
    transform:translateY(-8px);
    box-shadow:0 18px 40px rgba(0,0,0,.08);
}

.choose-icon{
    width:80px;
    height:80px;
    margin:auto;
    border-radius:50%;
    background:#eef4ff;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:38px;
    color:#2563eb;
}

.google{
    background:#f5f5f5;
}

.dropbox{
    background:#eef5ff;
    color:#0061ff;
}

.choose-card h3{
    margin-top:22px;
    font-size:24px;
    color:#111827;
}

.choose-card p{
    margin-top:15px;
    color:#6b7280;
    line-height:1.8;
    font-size:16px;
}

@media(max-width:768px){

.choose-section{
    padding:70px 20px;
}

.choose-heading h2{
    font-size:30px;
}

}