ul li a{
    text-decoration: none;
   
}
ul li {
    list-style: none;
}
h2{
    color:#2e86de;
    text-align: center;
    margin: 10px;
    font-size: 1.5rem;
}
.btn{
    width: 300px;
    height: 40px;
    border: 1px solid blue;
    margin: 4px 0px;
}
.btn:hover{
    border: 1px solid blue;
    letter-spacing: 2px;
    width: 300px;
    /* color: red; */
}
ul li a:hover{
    color: red;
}

.sidebarbody{
    padding: 0px;
    margin: 0;
}
.sidebarbody ul{
    padding-left:10px ;
}