.zip-container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 12px;
  background: #f8f9fa;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  font-family: sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.zip-container .fileuploadcontainer{
  margin-top: 30px;
}

.zip-container h1 {
  margin-bottom: 20px;
  color:#0056b3;
}

.dropzone {
  padding: 30px;
  border: 2px dashed #bbb;
  background-color: #fafafa;
  border-radius: 10px;
  color: #555;
  cursor: pointer;
  transition: border-color 0.2s, background-color 0.2s;
}

.dropzone.active {
  border-color: #4caf50;
  background-color: #e7f9ed;
  color: #2e7d32;
}
.rename-container {
  width: 300px;
  margin-top: 20px;
  text-align: center;
}

.rename-container label {
  display: block;
  font-weight: 500;
  margin-bottom: 6px;
}

.rename-container input {
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100%;
  max-width: 320px;
}
.rename-container input:focus {
  outline: none; 
  border: 2px solid #6df8f8; 
  box-shadow: 0 0 10px #61ebfa; 
  transition: 0.3s ease-in-out;
}

.file-list {
  text-align: left;
  margin: 15px 0;
  font-size: 0.95em;
  color: #333;
  padding-left: 10px;
}

.file-list li {
  margin-bottom: 4px;
}
.compressor-benefits .btn{
  width: 250px;
}

.zip-container button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 22px;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.2s;
}

.zip-container button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}
.tool-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.tool-heading {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.tool-description {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
  color: #444;
}

.tool-subheading {
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: #222;
}

.tool-steps {
  list-style: decimal;
  padding-left: 20px;
  margin-bottom: 2rem;
}

.tool-steps li {
  margin-bottom: 0.5rem;
}

.faq-list {
  margin-top: 1rem;
}

.faq-item {
  margin-bottom: 1.5rem;
}

.faq-question {
  font-size: 1.2rem;
  font-weight: 600;
}

.faq-answer {
  font-size: 1rem;
  color: #555;
  margin-top: 0.3rem;
}
@media (max-width:350px){
  .dropzone{
    padding: 10px;
    background-color: #fff;
  }
}