.extract-container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 12px;
  background: #fff3e0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  font-family: sans-serif;
  text-align: center;
  display:flex ;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border:2px dashed #aaa;
}

.extract-container h1 {
  font-size: 2.3rem;
  margin-bottom: 20px;
  color:#0056b3;
}
.extract-container.dragging {
  border: 2px dashed #00b894;
  background: #f8fff8;
  transition: 0.3s;
}
.file-preview {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}

.extract-container input{
  border: 1px solid black;
  padding: 10px 30px 10px 2px;
  width: 300px;
  border-radius: 5px;
}
.file-input {
  /* display: block; */
  margin: 0 auto 20px auto;
  font-size: 1rem;
  border: none;
}

.extract-container button {
  background-color:#007bff;
  color: white;
  padding: 10px 22px;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.extract-container button:hover {
  background-color:#0056b3;
}

button:disabled {
  background-color: #bbb;
  cursor: not-allowed;
}
.tool-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.tool-heading {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.tool-description {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
  color: #444;
  line-height: 1.6;
}

.tool-subheading {
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: #222;
}

.tool-steps {
  list-style: disc;
  padding-left: 20px;
  margin-bottom: 1.5rem;
}

.tool-steps li {
  margin-bottom: 0.5rem;
}

.faq-list {
  margin-top: 1rem;
}

.faq-item {
  margin-bottom: 1.5rem;
}

.faq-question {
  font-size: 1.2rem;
  font-weight: 600;
}

.faq-answer {
  font-size: 1rem;
  color: #555;
  margin-top: 0.3rem;
}

.extracted-list {
  margin: 30px auto;
  padding: 20px;
  max-width: 800px;
  background: #1b1b1b;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.extracted-list h2 {
  color: #fff;
  margin-bottom: 10px;
}

.extracted-list ul {
  list-style: none;
  padding: 0;
}

.extracted-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2b2b2b;
  color: #ddd;
  padding: 8px 12px;
  border-radius: 8px;
  margin: 6px 0;
}
li .download-link{
  text-decoration: none;
}
 .download-link  {
  background: none;
  text-decoration: none;
  border: none;
  color: #00b0ff;
  cursor: pointer;
  text-decoration: underline;
  font-size: 15px;
}

.download-link:hover {
  color: #ffffff;
}

